<%= form_with model: [@article, @article.comments.build], class: 'form-comments' do |form| %>
  <div class='form-commenter'>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>
  <div class='form-comment'>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <div class='comment-status'>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <div class='submit-comment'>
    <%= form.submit %>
  </div>
<% end %>